{% extends 'main.html' %}
    {% block title %}
    <title>View my contacts</title>
    {% endblock title %}
    {% block main_block %}
    <section>
            <p class="lead">
                <strong><strong>My contact:</strong></strong>
                    <ul class="list-unstyled">
                        <ul>
                          <li><strong>Telegram:</strong> @noolfon</li>
                          <li><strong>Email:</strong> noolfon@yandex.ru</li>
                        </ul>
                    </ul>
            </p>
    </section>
    {% endblock main_block %}